.movies-container{
        margin-bottom: 5rem;
        width: 100%;
        --tw-bg-opacity: 1;
        background-color: rgb(16 20 30 / var(--tw-bg-opacity))
      
}
  .movies-layout{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;    
  } 
.movies{
        position: relative  ;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly     
}

@media (min-width: 768px){
.movies-container{
    margin-bottom: 0px;
    padding: 2.5rem
}
.movies-layout{
    justify-content: space-around
}
.movies{
    justify-content: space-around;
    padding: 0.5rem
}
  }