.searchBar-container{
        height: 10rem;
        width: 100%;
        background-image: linear-gradient(to right, var(--tw-gradient-stops));
        --tw-gradient-from: #d946ef var(--tw-gradient-from-position);
        --tw-gradient-to: rgb(217 70 239 / 0) var(--tw-gradient-to-position);
        --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
        --tw-gradient-to: #06b6d4 var(--tw-gradient-to-position)
      
}
.searchBar{
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center ;
        justify-content: center ;
        background-color: rgb(0 0 0 / 0.3);
}
.inputStyle{
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        width: 100%;
        border-radius: 0.75rem;
        padding: 0.75rem;
        outline: 2px solid transparent;
        outline-offset: 2px
      
}






@media (min-width: 768px){
    .searchBar-container{
        height: 12rem
    }
    .inputStyle{
        width: 40rem
    }
 
    
  }