.item-button{
        margin: 1.25rem;
        border-radius: 1.5rem;
        --tw-bg-opacity: 1;
        background-color: rgb(255 255 255 / var(--tw-bg-opacity));
        padding-left: 1.75rem;
        padding-right: 1.75rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-weight: 600;
        --tw-text-opacity: 1;
        color: rgb(0 0 0 / var(--tw-text-opacity))
}